html {
  height: 100%;
  width: 100%;
}
.greenh1{
  color:green;
}
.redh1{
  color:red;
}
.purpleh1{
  color:purple;
}
.blueh1{
  color:blue;
}
.mrgreen{
  color:green;
} 
.orangeh1{
  color:orange;
}